body{
    font-family: $font_base;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
a{
    color: #666666;
    text-decoration: none;
    &:hover{
        color: #ec1d25;
    }
}
img:not(.logo img){
    width: 100%;
}
.transition-04{
    transition: all 0.4s ease-in-out;
}

.bg-pattern1{
    background: url("../img/pattern1.png");
}
.bg-pattern2{
    background: url("../img/pattern2.png");
}
section img{
border-radius: 4%;
}
.sizefull{
    width: 100%;
    height: 100%;
}
.txt-10{
    font-family: $font_base;
    font-size: 1rem;
    color: #666666;
}
.p2{
    padding: 2%;
}
.p-l-2{
padding-left: 2%;
}
.txt-5{
    font-family: $font_three;
    font-size: 1.2rem;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.bo-rad-4{
    border-radius: 10px;
}
.d-flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-1{
    margin: 1%;
}
.pos-rel{
    position: relative;
}
button {
    // outline: none!important;
    border: none;
    background: transparent;
}