.title-red{
    font-family: $font_two;
    color: #d61c22;
}
.title-white{
    font-family: $font_three;
    color: #ffffff;
    text-transform: uppercase;
}
.title-dark{
    font-family: $font_three;
    color: #222222;
    text-transform: uppercase;
}
section>div:not(.content-the-blog, .content-intro){
    text-align: center;
}
.section-slide{
    height: 100vh;
    width: 100%;
    background: url("../img/slide1-01.jpg");
    .section-slide-inside{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #ffffff;
        span{
            font-family: $font_two;
            font-size: 4rem;
        }
        h2{
            font-family: $font_three;
            font-size: 8rem;
            padding-bottom: 7%;
        }
    }
}

.section-welcome-inside{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 5% 0;
    .right-half{
        display: block;
        overflow: hidden;
        max-width: 390px;
        border-radius: 15px;
        margin: 0 auto;
        
        img{
            width: 100%;
            /* height: 100%; */
            display: block;
            border: 10px;
            transition: all .5s ease-in-out;
            &:hover{

                transform: scale(1.1);
                transition: all .6s ease-in-out;
            }
        }
    }
}
.discover{
    padding: 12% 0;
    background: url("../img/bg-intro-01.jpg") center fixed;
}
.block-discovery a{
    border-radius: 3%;
    overflow: hidden;
    display: block;
    img{
        display: block;
        transition: all 0.5s ease-out;
        border-radius: 3%;
        &:hover{
            transform: scale(1.1);
            border-radius: 3%;
        }
    }
    }
.content-intro, .content-the-blog{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% auto;
}
.content-our-menu{
    display: grid;
    grid-template-areas:
    "lva lvb ."
    "lva lvb ."
    "lh lh ."
    ;
    gap: 2%;
    padding-top: 3%;
    .item-our-menu{
        position: relative;
        transition: all 0.5s ease-out;
        &:hover{
            transform: scale(1.1);
        }
    }
    a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
    }
}
.item-our-menu:nth-of-type(1){
    grid-area: lva;
}
.item-our-menu:nth-of-type(2){
    grid-area: lvb;
}
.item-our-menu:nth-of-type(5){
    grid-area: lh;
}
.section-upcoming-events{
    background: url("../img/bg-event-02.jpg");
}